version: '3.6.0.{build}'
configuration:
- Release
image:
- Visual Studio 2019
platform: Any CPU
init:
- ps: $Env:LABEL = $Env:APPVEYOR_BUILD_NUMBER.PadLeft(5, "0")
environment:
  PATH: $(PATH);$(PROGRAMFILES)\dotnet\
before_build:
  - cmd: dotnet --version
build_script:
- appveyor-retry dotnet restore -v Minimal
- dotnet -d build -c %CONFIGURATION%
test: off
artifacts:
- path: src\Novell.Directory.Ldap.NETStandard\bin\Release\*.nupkg
cache:
- '%USERPROFILE%\.nuget\packages'